[Desktop Entry]
Name=Color Scheme Swapper
Comment=Swap your day/night color schemes

Icon=starred-symbolic
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Heqro
X-KDE-PluginInfo-Email=heqromancer@gmail.com
X-KDE-PluginInfo-Name=colorschemeswapper
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL
